.button {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.completed {
  background-color: green; /* Blue */
}

.button:hover {
  background-color: #00b3a1; /* Darker blue */
}

.button:active {
  background-color: #00b3a1; /* Active blue */
}
.completedTask {
  text-decoration: line-through;
}
